#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define TRACKBALL_CURSOR_SPEED_MUL 1
#define TRACKBALL_CURSOR_SPEED_DIV 1
#define TRACKBALL_SCROLL_SPEED_MUL 1
#define TRACKBALL_SCROLL_SPEED_DIV 1

&mt {
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
    flavor = "balanced";
};

&zip_temp_layer {
    excluded-positions = <
        19 // K
    >;

    require-prior-idle-ms = <200>;
};

&trackball_listener {
    input-processors = <
        &zip_temp_layer 4 10000
        &zip_xy_scaler TRACKBALL_CURSOR_SPEED_MUL TRACKBALL_CURSOR_SPEED_DIV
    >;
};

&trackball_listener {
    scroller {
        layers = <5>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler TRACKBALL_SCROLL_SPEED_MUL TRACKBALL_SCROLL_SPEED_DIV
            &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
        >;
    };
};

&trackball { };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        macro_vim_dd: macro_delete_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(X)>;

            label = "MACRO_DELETE_LINE";
        };

        macro_vim_yy: macro_yank_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(C)>;

            label = "MACRO_YANK_LINE";
        };

        macro_vim_shift_d: macro_vim_shift_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>, <&macro_wait_time 100>, <&kp LC(X)>;

            label = "MACRO_VIM_SHIFT_D";
        };

        macro_vim_o: macro_vim_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>, <&macro_wait_time 100>, <&kp ENTER>;

            label = "MACRO_VIM_O";
        };

        macro_vim_shift_o: macro_vim_shift_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp ENTER>,
                <&macro_wait_time 100>,
                <&kp UP_ARROW>;

            label = "MACRO_VIM_SHIFT_O";
        };
    };

    behaviors {
        td_vim_d: td_vim_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_D";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>, <&macro_vim_dd>;
        };

        mm_vim_shift_d: mm_vim_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_D";
            bindings = <&td_vim_d>, <&macro_vim_shift_d>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_vim_y: td_vim_y {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_Y";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&macro_vim_yy>;
        };

        mm_vim_ctrl_u: mm_vim_ctrl_u {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_U";
            bindings = <&kp LC(Z)>, <&kp PAGE_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_o: mm_vim_shift_o {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_O";
            bindings = <&macro_vim_o>, <&macro_vim_shift_o>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_then_shift_d: mm_vim_ctrl_then_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_THEN_SHIFT_D";
            bindings = <&mm_vim_shift_d>, <&kp PAGE_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_4: mm_vim_shift_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_4";
            bindings = <&none>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_r: mm_vim_ctrl_r {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_R";
            bindings = <&none>, <&kp LC(Y)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                        &kp T                                                          &kp Y        &kp U  &lt 5 I    &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                        &kp G        &kp LS(LG(S))                      &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp SQT
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                        &kp B        &kp COLON                          &kp SEMICOLON  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 6 INT_HENKAN  &lt 2 SPACE  &lt_to_layer_0 3 INT_MUHENKAN      &kp BACKSPACE  &lt 1 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &kp F12
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                   &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE  &kp EXCLAMATION   &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp BACKSLASH
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans          &trans                                                                     &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
